@charset "utf-8";
html {
    font-size: 16px;
}

body {
    font-family: 'Shippori Mincho', serif;
}

h2,h3 {
    font-family: 'Sawarabi Gothic', sans-serif;
}

.container {
    width:90%;
    margin: auto;
}
