@charset "utf-8";

*, *::before, *::after {
    box-sizing: border-box;
    margin-bottom: 1rem;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Shippori Mincho', serif;
}

h1,h2,h3,th,td {
    font-family: 'Sawarabi Gothic', sans-serif;
    margin-bottom: 1rem;
}

.container {
    width: 90%;
    margin: 2.5rem auto;
}

/* 文字の大きさ */
h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
    line-height: 1;
}

p {
    line-height: 3rem;
    margin-bottom: 2rem;
}

/* .mb-2rem {
    margin-bottom: 2rem;
    margin-left: 2rem;
    font-size: 22px;
    line-height: 3rem;
} */

.margin {
    margin: 1% 0 5px;
}

.margin2 {
    margin: 0 3%;
    line-height: 2rem;
}

/* 横並び */
.flex {
    display: flex; /*横並び*/
}
.flex .image {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
}
/* .flex .text {
    margin-bottom: 2rem;
    margin-left: 2rem;
    font-size: 22px;
    line-height: 3rem;
} */

table,th,td {
    border: solid 1px #aaaaaa;
}

table {
    margin-bottom: 2rem;
    margin-left: 3rem;
    font-size: 22px;
    line-height: 3rem;
    border-collapse: collapse;
}

th,td {
    padding: 10px 20px 10px 20px;
}

th {
    width: 250px;
    background-color: #eeb749;
    text-align: left;
}

td {
    width: 450px;
    background-color: #ebd69e;
}
